:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    font-family: 'kanit', sans-serif;
    background-color: var(--bg);
    color: #fff;
    /* min-height: 5000px; */

}
html {
    scroll-behavior: smooth;
}

/*navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 19%;
    background-color: rgba(1, 1, 1, 0.53);
    border-bottom: 1px solid #553f29;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color:#fff;
    font-family: 'Kaushan Script', cursive;
}

.navbar .navbar-logo span{
    color: var(--primary)
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;

}
.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* navbar article */
.navbar-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.7rem 45%; */
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left:44%;
    background-color: rgba(1, 1, 1, 0.53);
    border-bottom: 1px solid #553f29;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-articles .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color:#fff;
    font-family: 'Kaushan Script', cursive;
}

.navbar-article .navbar-logo span{
    color: var(--primary)
}

.navbar-articles .navbar-logo span{
    color: var(--primary)
}


/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/homePage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1)8%, rgba(255,255,255,0)50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    
}


.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span{
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    /* mix-blend-mode: difference; */
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.hero .content .cta:hover {
    background-color: #553f29;
    transition: 1s;

}

/* about section */
.about .row .content h3{
    font-family: 'Kaushan Script', cursive;
}

.about .row .content h3 span {
    color: var(--primary);
}

.about, .menu, .contact {
    padding: 8rem 7% 1.4rem;
    
}
.about h2, .menu h2, .contact h2, .about {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, .menu h2 span, .contact h2 span{
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
    padding-top: 3%;
    /* padding-left: 0.5rem; */
}

.about .row .about-img img{
    width: 50%;
}

.about .row .content {
    flex: 1 1 40rem;
    /* padding-left: 0.5rem; */
    padding-top: 8%;
    padding-right: 8%;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}



/* prouduct section */
.menu h2, .contact h2 {
    margin-bottom: 1rem;
}
.menu p, .contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card{
    text-align: center;
    padding-bottom: 3rem;

}
.menu .row .menu-card img {
    width: 70%;
}

.menu .row .menu-card .menu-card-title {
    margin: 0.5rem auto 0.5rem;
}
.menu .row .menu-card .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    
}

.menu .row .menu-card .cta:hover {
    background-color: #553f29;
    transition: 1s;
}
/* articles section*/
.articles, .menu, .contact {
    padding: 8rem 7% 1.4rem;
    
}
 .articles h2, .menu h2, .contact h2, .articles {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.articles h2 span, .menu h2 span, .contact h2 span{
    color: var(--primary);
}

/* artikel 1 */
.articles .row {
    display: flex;
}

.articles .row .articles-img {
    flex: 1 1 45rem;
}

.articles .row .articles-img img{
    width: 80%;
}

.articles .row .content {
    flex: 1 1 35rem;
    padding-left: 5%;
    padding-top: 1%;
}

.articles .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.articles .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

.articles .row .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.articles .row .content .cta:hover{
    background-color: #553f29;
    transition: 1s;
}

/* artikel 2 */
.articles .row1 {
    display: flex;
    padding-top: 5%;
}

.articles .row1 .articles-img {
    flex: 1 1 45rem;
}

.articles .row1 .articles-img img{
    width: 80%;
}

.articles .row1 .content {
    flex: 1 1 35rem;
    padding-left: 5%;
    padding-top: 1%;
}

.articles .row1 .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.articles .row1 .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

.articles .row1 .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.articles .row1 .content .cta:hover{
    background-color: #553f29;
    transition: 1s;
}

/* FAQ section */
.faq, .menu, .contact {
    padding: 8rem 7% 1.4rem;
    
}
 .faq h2, .menu h2, .contact h2, .faq {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.faq h2 span, .menu h2 span, .contact h2 span{
    color: var(--primary);
}

.faq .row1 {
    display: flex;
    background-color: #222;
    border-top-left-radius: 20%;
}

.faq .row1 .content1 {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.faq .row1 .content1 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.faq .row1 .content1 p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}
/* 
.faq .row2 {
    display: flex;
    background-color: #222;
    border-bottom-right-radius: 20%;
}
.faq .row2 .content2 {
    flex: 1 1 35rem;
    padding: 0 1rem;

}

.faq .row2 .content2 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.faq .row2 .content2 p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
} */

.faq .row3 {
    /* display: flex; */
    background-color: #222;
    border-bottom-right-radius: 17%;
}
.faq .row3 .content3 {
    display: flex;
    flex: 1 1 35rem;
    padding: 0 1rem;

}

.faq .row3 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.faq .row3 .content3 p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

.faq .row3 .content3 .faq-img {
    padding-left: 17%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.faq .row3 .content3 .content-faq {
    padding-top: 6%;
    padding-left: 9%;
    /* padding-right: 8%; */
}
/* Gallery Section */
.gallery, .menu, .contact {
    padding: 8rem 7% 1.4rem;
    
}

.gallery p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
}

 .gallery h2, .menu h2, .contact h2, .galery {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.gallery h2 span, .menu h2 span, .contact h2 span{
    color: var(--primary);
}

.gallery .row {
    display: flex;
}

.gallery .row .gallery-img {
    flex: 1 1 45rem;
    justify-content: space-between;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.gallery .row .gallery-img img{
    width: 100%;
}

.gallery .row .gallery-img img:hover {
    scale: 110%;
    transition: 1s;
}

.gallery .row1 {
    display: flex;
}

.gallery .row1 .gallery-img {
    flex: 1 1 45rem;
    justify-content: space-between;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.gallery .row1 .gallery-img img{
    width: 100%;
}

.gallery .row1 .gallery-img img:hover {
    scale: 110%;
    transition: 1s;
}

.gallery .row2 {
    display: flex;
}

.gallery .row2 .gallery-img {
    flex: 1 1 45rem;
    justify-content: space-between;
    padding-right: 1rem;
}

.gallery .row2 .gallery-img img{
    width: 100%;
}

.gallery .row2 .gallery-img img:hover {
    scale: 110%;
    transition: 1s;
}

/* contact section */
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex: 2 1 30rem;
    width: 100%;
    object-fit: cover;

}

.contact .row form {
    flex: 1 1 30rem;
    padding: 5rem 2rem;
    text-align: center;

}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7 rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}
/*  */
/* halamaman artikel */
/* navbar article */
.navbar-articles {
    /* display: flex; */
    /* text-align: center; */
    padding-top: 0.7rem;
    background-color: rgba(1, 1, 1, 0.53);
    border-bottom: 1px solid #553f29;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-articles .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color:#fff;
    font-family: 'Kaushan Script', cursive;
    padding-right:50%;
}

.navbar-article .navbar-logo span{
    color: var(--primary)
}

.articles-page, .menu, .contact {
    padding: 8rem 7% 1.4rem;
    
}
 .articles-page h2, .menu h2, .contact h2, .articles {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.articles-page h2 span, .menu h2 span, .contact h2 span{
    color: var(--primary);
}
/* konten artikel 1 */
.articles-page {
    text-align: center;
}

.articles-page .row .articles-img img{
    width: 60%;
}

.articles-page .row .articles-img {
    flex: 1 1 45rem;
}

.articles-page .row1 .content {
    flex: 1 1 35rem;
    padding-top: 1%;
}

.articles-page .row1 .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

.articles-page .row1 .cta {
    color: var(--primary);
}


/*  */
/* footer */
footer{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    padding: 1rem 0 1rem;
}

footer .socials{
    padding: 1rem 0;
}

footer .socials a{
    color: #fff;
    margin: 0rem;
}

.socials .icon-icon a{
    color: black;
}

.socials .icon-icon a:hover {
    color: white;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a{
    color: var(--bg);
    font-weight: 700;
}

.socials .icon-socials {
    color: rgb(0, 0, 0);
}

.socials .icon-socials a{
    color: rgb(0, 0, 0);
}
/* Media Queries */
/* laptop */
@media (max-width: 1366px) {
    html{
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html{
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;

    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }
    

    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
        /* padding-top: 10rem; */
    }

    .about .row .content {
        /* padding: auto; */
        padding-left: 7%;
        /* padding-top: 1rem; */
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form{
        padding-top: 0;
    }

    .articles .row{
        flex-wrap: wrap;
    }
    .articles .row1{
        flex-wrap: wrap;
    }

    .faq .row3 .content3 {
        flex-wrap: wrap;
        padding-bottom: 5%;
    }

    .faq .row3 .content3 .faq-img {
        padding-top: 14%;
        /* padding-left: 23%;*/
    }

    .faq .row3 .content3 .faq-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
        
    }
    
}
/* Handphone */
@media (max-width: 450px) {
    html{
        font-size: 55%;
    }

}
